    <div class="profile-title">
        <h1>Profile</h1>
    </div>
    <div class="profile-body">
        <div class="profile-info">
            <h2>{{ name }}</h2>
        </div>
        <div class="picture-edit">
            <div class="profile-picture-container">
                <img src="/img/avatar.png" alt="" class="profile-picture">
            </div>
            <div class="btn-container">
                <button class="btn edit-profile-btn">Edit Profile Picture</button>
            </div>
        </div>
        <div class="profile-info">
            <h2>{{ email }}</h2>
        </div>
    </div>
    <div class="post-list">
        <div class="post-title">
            <h2>Posts</h2>
        </div>
        {{#each issues as |issue|}}
        <div class="previous-post">
            <div class="previous-post-title">
                <a href="/issue/{{issue.id}}"><h4>{{issue.title}}</h4></a>
            </div>
            <div class="previous-post-body">
                <p class="italic">Posted by {{issue.user.name}} on {{issue.date_created}}</p>
                <p>{{issue.content}}</p>
            </div>
        </div>
        {{/each}}
    </div>
