<div class="profile-title">
    <h2>Profile</h2>
</div>
<div class="profile-body">
    <div class="profile-info">
        <h3>{{ name }}</h3>
    </div>
    <div class="picture-edit">
        <div class="profile-picture-container">
            <img src="/img/pic-0.png" alt="" class="profile-picture" id="profile-picture">
        </div>
        <div class="btn-container">
            <button class="btn edit-profile-btn">Edit Profile Picture</button>
        </div>
        <div class="picture-selection hidden">
            <div class="pics-and-btn">
                <div class="all-pictures">
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-0.png" alt="" class="profile-picture" data-path="/img/pic-0.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-1.png" alt="" class="profile-picture" data-path="/img/pic-1.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-2.png" alt="" class="profile-picture" data-path="/img/pic-2.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-3.png" alt="" class="profile-picture" data-path="/img/pic-3.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-4.png" alt="" class="profile-picture" data-path="/img/pic-4.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-5.png" alt="" class="profile-picture" data-path="/img/pic-5.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-6.png" alt="" class="profile-picture" data-path="/img/pic-6.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-7.png" alt="" class="profile-picture" data-path="/img/pic-7.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-8.png" alt="" class="profile-picture" data-path="/img/pic-8.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-9.png" alt="" class="profile-picture" data-path="/img/pic-9.png">
                    </div>
                    <div class="profile-picture-container-small">
                        <img src="/img/pic-10.png" alt="" class="profile-picture" data-path="/img/pic-10.png">
                    </div>
                </div>
                <div class="picture-select-box">
                    <button class="btn picture-select-btn">Select Profile Picure</button>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-info">
        <h3>{{ email }}</h3>
    </div>
</div>
<section>
  <div class="homepage-container">
      <h3>Posts</h3>
    <div class="text-center mb-5">
      <h2 class="display-20 display-md-18 display-lg-16"></h2>
    </div>
      {{#each issues as |issue|}}
          <ul class="collapsible card-body">
            <li>
              <div class="collapsible-header">
                <h5 class="h5"><a href="/issue/{{issue.id}}" class="" data-id="{{issue.id}}"><span>{{issue.title}}</span></a></h5>
                <p class="issue-title"><i>{{issue.user.name}} posted on {{format_date issue.date_created}}</i></p>
              </div>
            <p class="collapsible-body issue-content"><span>{{issue.content}}</span></p>
            </li>
          </ul>
      {{/each}}
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="/js/profile.js"></script>
